*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background: url(./img/bolo.gif);
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0f0f;
}
.content h3{
    padding: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
    
}
.content .navbar{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .navbar li a{
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    
}
main section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    text-align: center;

}
main section .title h1{
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;

}
main section .title p{
    color: #fff;
    padding: 10px;
    
}
main section .btn{
    border: 1px solid #fff;
    padding: 10px;
    padding-inline: 30px;
    bottom: -50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    position: absolute;
    left: 30%

    
}
@media (max-width:800px){
    .content{
        display: block;
        
    }
}
@media (max-width:750px){
    main section {
        width: 100%;
        text-align: center;
        transition: .9s;
    }
}
#mybtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    background-color: #FEC5C5;
    padding: 12px;
    border-radius: 50%;
    
  }
  svg{
      color: #fff;
  }
